/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.local.php
.env.php
.DS_Store
Thumbs.db
/.idea
public/packages/*
app/trace/logs/*
app/database/production.sqlite
app/config/*-development/*
app/config/production/*.php
app/config/development/*.php
app/config/staging/*.php
bootstrap/environment.php
_ide_helper.php
app/tests/_log
dump.rdb
.sass-cache
npm-debug.log