$fontsize:14px;

.channel_subtitle {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 13pt;

}

.channel_icon {
  max-width: 100px;
  max-height: 50px;
}

.channel_name {
  font-size: 18pt;
}

.channel_description {
  display: block;
  color: #444;
  margin: 10pt 0;
}