.uno-mobile {
  display: none; }

.uno_show_block {
  display: block !important; }

.uno-show-inline-block {
  display: inline-block; }

.uno_phone_menu_base, .uno-phone-menu, .uno_phone_menu_triangle_light, .uno_phone_menu_triangle_dark {
  margin: auto; }

.uno-phone-menu {
  background: url("iconSprite.png") no-repeat -1px -1px;
  width: 40px;
  height: 40px; }

.uno_phone_menu_triangle_light {
  background: url("iconSprite.png") no-repeat -44px -1px;
  width: 73px;
  height: 63px; }

.uno_phone_menu_triangle_dark {
  background: url("iconSprite.png") no-repeat -124px -2px;
  width: 73px;
  height: 63px; }
