.no-space {
  padding: 0px;
  margin: 0px; }

#dns-world-map {
  margin-left: auto;
  margin-right: auto;
  height: 450px;
  width: 900px; }
  #dns-world-map .jvectormap-zoomout {
    top: 40px; }
  #dns-world-map .jvectormap-zoomin,
  #dns-world-map .jvectormap-zoomout {
    background-color: #EA3535;
    width: 20px;
    height: 20px; }

input.dns-value {
  width: 170px;
  text-align: center; }

table.fastest-servers {
  width: 100%;
  text-align: center; }
  table.fastest-servers tr td:last-child {
    text-align: right; }
