body {
  background-repeat: no-repeat !important; }

.mobile-content .section-heading {
  font-size: 20px !important;
  font-weight: bold !important; }
.mobile-content .section {
  min-height: 440px; }
.mobile-content .geoBlocks {
  margin-top: 35px !important;
  margin-bottom: 0 !important;
  min-height: 427px !important; }
.mobile-content #channels {
  padding-top: 0 !important; }
  .mobile-content #channels .channels-list-container {
    margin-top: 0 !important; }
.mobile-content #devicesAndPlatforms {
  height: 460px !important;
  padding-top: 125px !important; }
  .mobile-content #devicesAndPlatforms .devices-wrapper .devices-top {
    top: -100px !important; }
  .mobile-content #devicesAndPlatforms .devices-wrapper .content {
    top: 0 !important; }
  .mobile-content #devicesAndPlatforms .devices-wrapper .devices-down {
    bottom: 0 !important; }
.mobile-content #unlimitedAccess, .mobile-content #favoriteChannels, .mobile-content #speed, .mobile-content #map {
  margin-bottom: 0 !important;
  padding: 0 10px !important; }
.mobile-content #onDemand {
  margin-bottom: 0 !important; }
  .mobile-content #onDemand .row {
    padding-left: 0 !important; }
.mobile-content #pricingPlans {
  margin-bottom: 0 !important; }
  .mobile-content #pricingPlans .content .pricing-container {
    padding: 0 5px !important;
    width: 100% !important; }
  .mobile-content #pricingPlans .content .premium {
    float: none !important;
    width: 100% !important;
    margin-right: 0 !important;
    text-align: center;
    margin-bottom: 15px; }
  .mobile-content #pricingPlans .content .gold {
    float: none !important;
    width: 100% !important;
    text-align: center; }
    .mobile-content #pricingPlans .content .gold img {
      display: none !important; }
.mobile-content #footer {
  overflow: visible !important; }
  .mobile-content #footer .newsletter {
    height: 100px !important;
    padding-top: 0 !important; }
  .mobile-content #footer .socialLink {
    padding: 0 !important; }
    .mobile-content #footer .socialLink .social-list {
      padding-top: 25px !important;
      margin-bottom: 25px !important; }
    .mobile-content #footer .socialLink .link-list .links a {
      font-size: 14px !important; }
  .mobile-content #footer .footerBody {
    position: static !important;
    height: 100px !important;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important; }
    .mobile-content #footer .footerBody .copyright {
      float: none !important;
      line-height: 1.5em; }
